%for section in song.sections:
    %if section.name is not '':
{begin_of_${section.name}}
    %endif
    %for line in section.lines:
        %if isinstance(line, ChordText):
#${line.text}
        %endif
    %endfor
    %if section.name is not '':
{end_of_${section.name}}
    %endif
%endfor
