div.metadata {
    margin-bottom: 1.5em;
}

div.section {
    margin-bottom: 1em;
}

div.section_header {
    font-weight: bold;
}

div.metadata > span.key {
    font-weight: bold;
}

span.chord {
    color: red;
    font-weight: bold;
}

span.chord::before {
    content: "[";
}

span.chord::after {
    content: "]";
}

div.comment {
    margin-top: 1em;
    margin-bottom: 1em;
    border: 1px solid gray;
    background-color: lightgray;
}